.kiro/
.trae/
.vscode/
.qoder/
.git/
.idea/
.cache/
.mypy_cache/
.pytest_cache/
.mypy_cache/
.pytest_cache/
.mem0/
.litellm_cache/
.env
models/
venv/
bug/
logs/
docs/*.pdf
output/
node_modules/
__pycache__/
searxng/
*.pyc
*.log
*.pdf
test_*.py
*_test.py





