.kiro/
.trae/
.vscode/
.codebuddy/
.qoder/
.git/
.idea/
.cache/*
.mypy_cache/
.pytest_cache/
.mypy_cache/
.pytest_cache/
.prefect/
.mem0/
.litellm_cache/
.env
models/
venv/
prefect/*
bug/
bak/story*
bak/mem0
bak/*.py
logs/
docs/*.pdf
output/*
node_modules/
__pycache__/
searxng/
*.pyc
*.log
*.pdf
test_*.py
*_test.py
*debug*.py
init.md
*copy.py



