nltk
httpx
jieba
psutil
openai
loguru
prefect
keybert
markdown
pydantic
diskcache
langdetect
playwright
llama-index
trafilatura
transformers
stopwordsiso
qdrant-client
python-dotenv
beautifulsoup4
litellm[caching]
sentence_transformers
llama-index-llms-litellm
llama-index-embeddings-litellm
llama-index-vector-stores-qdrant
llama-index-graph-stores-memgraph
llama-index-embeddings-huggingface