httpx
pytest
openai
loguru
prefect
markdown
chromadb
pydantic
diskcache
playwright
llama-index
trafilatura
kuzu
kuzu-explorer
python-dotenv
pytest-asyncio
pysqlite3-binary
litellm[caching]
sentence_transformers
llama-index-vector-stores-chroma
llama-index-llms-litellm
llama-index-embeddings-litellm
llama-index-graph-stores-kuzu