# 这是自动生成的顶级依赖文件。请在此处管理你的直接依赖项。
kuzu
httpx
pytest
openai
loguru
prefect
markdown
chromadb
pydantic
diskcache
playwright
llama-index
trafilatura
python-dotenv
pytest-asyncio
pysqlite3-binary
litellm[caching]
duckduckgo-search
sentence_transformers
llama-index-llms-litellm
llama-index-graph-stores-kuzu
llama-index-embeddings-litellm
llama-index-vector-stores-chroma
